# namespace
kind: Namespace
apiVersion: v1
metadata:
  name: {{ K8S_NAMESPACE }}

---
# https://kubernetes.io/docs
# Services
## Exposes {{APP_NAME}} running in port 8080
## as port 80 to the network
apiVersion: v1
kind: Service
metadata:
  name: {{ APP_NAME }}
  labels:
    name: {{ APP_NAME }}
    env: {{ APP_ENV }}
spec:
  # crreate a VIP that float between pods
  type: NodePort
  ports:
    - port: 5000
      nodePort: 30082
      name: http
  selector:
    app: {{ APP_NAME }}
    env: {{ APP_ENV }}

---
# Deployment
## Define how {{APP_NAME}} should looks like on kubernetes
##
## https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ APP_NAME }}
  labels:
    app: {{ APP_NAME }}
    env: {{ APP_ENV }}
spec:
  # affinity:
  # readinessProbe: Health Checks
  replicas: 3
  selector:
    matchLabels:
      app: {{ APP_NAME }}
      env: {{ APP_ENV }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: {{ APP_NAME }}
        env: {{ APP_ENV }}
    spec:
      volumes: []
      containers:
        - name: python-{{APP_NAME}}
          image: "{{DOCKER_USER}}/{{APP_NAME}}:{{APP_VERSION}}"
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5000
          resources:
            requests:
              memory: "64Mi"
              cpu: "250m"
            limits:
              memory: "128Mi"
              cpu: "500m"
